<%- include('partials/head')%>

<%- include('partials/navbar')%>
<h1>A file with this name already exists,Do you want to replace the file?</h1>
<form >
    <div class="form-check">
        <input class="form-check-input" type="checkbox"  id="flexCheckDefault" name="status" value="true">
        <label class="form-check-label" for="flexCheckDefault">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"  id="flexCheckChecked" name="status" value="false">
        <label class="form-check-label" for="flexCheckChecked">
          No
        </label>
      </div>
</form>

